/**
 *
 * {{ properCase name }}
 *
 */

import React from 'react';
import { Props } from './index.d';
import './index.scss';

const {{ properCase name }} = (props:Props)=>{
    return (
        <div className="{{ properCase name }}-com" >{{ properCase name }}</div>
    )
}

export default {{ properCase name }};
